<ion-header>
  <div class="wrapper-fluid-header">
    <div class="logo-wrap personal-head">
      <button class="top-back" (click)="back()"><img src="assets/img/arrow-left.svg" alt=""></button>
      <h2>{{'Баланс Tirgo Service' | translate}}</h2>
      <div></div>
    </div>
  </div>
</ion-header>
<ion-content class="ion-no-padding ion-no-margin">
  <div class="wrapper-fluid">
    <div class="body-wrap" *ngIf="authService.currentUser">
      <div class="cart-wrap">
        <img src="assets/img/logo.png" alt="">
        <p class="cart-wrap-balance">Баланс: {{alpha_balance}} <span></span></p>
      </div>

      <!-- <div style="width: 100%;margin:10px 0" *ngIf="showTgButton">
        <button style="width: 100%; background: #00ABF1FF;padding: 10px;border-radius: 10px;color: white;display: flex;justify-content: center;gap:10px">
          <ion-icon src="assets/img/tg.svg"></ion-icon>{{'Дополнительные услуги' | translate}}
        </button>
      </div> -->

      <button *ngIf="showTgButton" class="reg-btn podpis-buy" (click)="goToSupportAdmin()"
            style="background-color: #00ABF1FF;margin: 10px 0;display: flex;align-items: center;justify-content: center;gap:10px">
            <img src="assets/img/tg.svg" alt="">
            <span>{{'Дополнительные услуги' | translate}}</span> 
          </button>

      <p class="ion-no-padding ion-no-margin"><b>{{'Дополнительные услуги' | translate}}</b></p>
      <div class="payment-method">
        <div class="payment-method-wrap">
          <button (click)="selectmethodpay = 'click'" [ngClass]="{'selected': selectmethodpay === 'click'}"><img
                src="assets/payment/click.svg" alt=""></button>
          <button (click)="selectmethodpay = 'payme'" [ngClass]="{'selected': selectmethodpay === 'payme'}"><img
              src="assets/payment/payme.svg" alt=""></button>
        </div>
      </div>
      <div style="width: 100%;">
        <p style="text-align: center; width: 100%;">{{'Услуги' | translate}}</p>

        <div class="body-wrap form-block" style="width: 100%;">

          <div *ngFor="let priceCard of services" class="price-card" [class.active]="priceCard.selected"
            (click)="selectPrice(priceCard)">
            <div style="display: flex;justify-content: space-between; width: 100%;">
              <p class="month-text">{{ priceCard.name }}</p>
              <p class="price-text">{{ priceCard.price_uzs == 0 ? 'Бесплатно(оформление в Тирго)' :  priceCard.price_uzs | numberFormat }} <span *ngIf="priceCard.price_uzs != 0">сум</span></p>
            </div>
          </div>
        </div>

        <div class="payment-total form-block">
          <button [disabled]="selectedServices?.length == 0 || loading" class="reg-btn podpis-buy" (click)="pay()"
            style="background-color: rgba(255, 113, 0, 1)">{{'Оформить' | translate}}</button>
        </div>
      </div>

      <div style="width: 100%; margin-top: 20px;" *ngIf="history?.length > 0">
        <p style="text-align: center; width: 100%;">{{'История оформлений услуг' | translate}}</p>
        <div class="" style="width: 100%; overflow-y: auto; max-height: 300px; padding: 50px 0;">

          <div *ngFor="let item of history"  class="price-card" style="display: block !important;margin: 5px 0;">
            <div style="width: 100%;color: white; display: flex;gap:10px">
              <span>ID заказа:</span>
              <span>{{item.id}}</span>
            </div>
            <div style="width: 100%;color: white; display: flex;gap:10px">
              <span>ID услуги:</span>
              <span>{{item.service_id}}</span>
            </div>
            <div style="width: 100%;color: white; display: flex;gap:10px">
              <span>Тип:</span>
              <span>{{item.name}}</span>
            </div>
            <div style="width: 100%;color: white; display: flex;gap:10px">
              <span>Сумма:</span>
              <span>{{item.price_uzs}}</span>
            </div>
            <div style="width: 100%;color: white; display: flex;gap:10px">
              <span>Дата:</span>
              <span>{{item.createAt | date : 'dd.MM.YYYY'}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>


<ion-card *ngIf="payConfirm">
  <ion-card-header>
    <ion-card-title style="text-align: center;">Ваша заявка принята на обработку</ion-card-title>
  </ion-card-header>
  <ion-button style="display: flex;" routerLink="/tabs">OK</ion-button>
</ion-card>
